@import "src/styles/variables";
@import "src/styles/mixins";

.todo-list {
  @include horizontal-spacing();

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 34px;
}
